/* Updated styles for action-form */
.action-form {
    gap: 15px;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.action-form button {
    width: 45%;
    height: 50px;
    font-size: 14px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

.action-form .toggle-btn {
    background-color: white;
    color: black;
}

.action-form .submit-btn {
    background-color: #001f3f;
    color: white;
}